<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ControlSurfaceParameterOrder</key>
	<array>
		<string>0 Slicer1_Base_Ratio</string>
		<string>1 Slicer1_Ratio_Mod_Depth</string>
		<string>2 Slicer1_Ratio_Sync</string>
		<string>3 Slicer1_Ratio_Mod_Rate</string>
		<string>4 Slicer1_Ratio_Mod_SyncedRate</string>
		<string>5 Slicer1_Ratio_Mod_Wave</string>
		<string>6 Slicer1_Slice_Mod_Sync</string>
		<string>7 Slicer1_Slice_Mod_Rate</string>
		<string>8 Slicer1_Slice_Mod_SyncedRate</string>
		<string>9 Slicer1_Slice_Mod_Wave</string>
		<string>10 Slicer1_Scan_Seq_Enable</string>
		<string>11 Slicer1_Gate</string>
		<string>12 Slicer1_Gate_Gen</string>
		<string>13 Slicer1_Divisions</string>
		<string>14 Slicer1_Ratio_Retrig</string>
		<string>15 Slicer1_Slice_Loop</string>
		<string>16 Slicer1_Window</string>
		<string>17 Slicer1_Pan</string>
		<string>18 Slicer1_Pan_Rnd</string>
		<string>19 Slicer1_Lfo1_Wave</string>
		<string>20 Slicer1_Lfo1_Rate</string>
		<string>21 Slicer1_Lfo1_SyncedRate</string>
		<string>22 Slicer1_Lfo1_Sync</string>
		<string>23 Slicer1_Lfo2_Wave</string>
		<string>24 Slicer1_Lfo2_Rate</string>
		<string>25 Slicer1_Lfo2_SyncedRate</string>
		<string>26 Slicer1_Lfo2_Sync</string>
		<string>27 Slicer1_Lfo1ToScanWave</string>
		<string>28 Slicer1_Lfo2ToScanWave</string>
		<string>29 Slicer1_Lfo1ToScanRate</string>
		<string>30 Slicer1_Lfo2ToScanRate</string>
		<string>31 Slicer1_Lfo1ToRatioWave</string>
		<string>32 Slicer1_Lfo2ToRatioWave</string>
		<string>33 Slicer1_Lfo1ToRatioRate</string>
		<string>34 Slicer1_Lfo2ToRatioRate</string>
		<string>35 Slicer1_Delay_Time</string>
		<string>36 Slicer1_Delay_Sync</string>
		<string>37 Slicer1_Delay_Synced_Time</string>
		<string>38 Slicer1_Delay_Feed</string>
		<string>39 Slicer1_Delay_Mix</string>
		<string>40 Slicer1_Delay_Time_Gen</string>
		<string>41 Slicer1_Delay_Feed_Gen</string>
		<string>42 Slicer1_Delay_Mix_Gen</string>
		<string>43 Slicer1_Filter_Morph</string>
		<string>44 Slicer1_Filter_Cutoff</string>
		<string>45 Slicer1_Filter_Resonance</string>
		<string>46 Slicer1_Filter_Morph_Gen</string>
		<string>47 Slicer1_Filter_Cut_Gen</string>
		<string>48 Slicer1_Filter_Res_Gen</string>
		<string>49 Slicer1_Filter_Bypass</string>
		<string>50 Slicer1_Slot1_Amplitude</string>
		<string>51 Slicer1_Slot2_Amplitude</string>
		<string>52 Slicer1_Sound_Morph</string>
		<string>53 Slicer1_Sound_Morph_Gen</string>
		<string>54 Slicer1_Sound_Morph_Gen_Mode</string>
		<string>55 Slicer1_Low_Gain</string>
		<string>56 Slicer1_Mid_Gain</string>
		<string>57 Slicer1_High_Gain</string>
		<string>58 Slicer1_Slot1_Ratio</string>
		<string>59 Slicer1_Slot2_Ratio</string>
		<string>60 Slicer2_Base_Ratio</string>
		<string>61 Slicer2_Ratio_Mod_Depth</string>
		<string>62 Slicer2_Ratio_Sync</string>
		<string>63 Slicer2_Ratio_Mod_Rate</string>
		<string>64 Slicer2_Ratio_Mod_SyncedRate</string>
		<string>65 Slicer2_Ratio_Mod_Wave</string>
		<string>66 Slicer2_Slice_Mod_Sync</string>
		<string>67 Slicer2_Slice_Mod_Rate</string>
		<string>68 Slicer2_Slice_Mod_SyncedRate</string>
		<string>69 Slicer2_Slice_Mod_Wave</string>
		<string>70 Slicer2_Scan_Seq_Enable</string>
		<string>71 Slicer2_Gate</string>
		<string>72 Slicer2_Gate_Gen</string>
		<string>73 Slicer2_Divisions</string>
		<string>74 Slicer2_Ratio_Retrig</string>
		<string>75 Slicer2_Slice_Loop</string>
		<string>76 Slicer2_Window</string>
		<string>77 Slicer2_Pan</string>
		<string>78 Slicer2_Pan_Rnd</string>
		<string>79 Slicer2_Lfo1_Wave</string>
		<string>80 Slicer2_Lfo1_Rate</string>
		<string>81 Slicer2_Lfo1_SyncedRate</string>
		<string>82 Slicer2_Lfo1_Sync</string>
		<string>83 Slicer2_Lfo2_Wave</string>
		<string>84 Slicer2_Lfo2_Rate</string>
		<string>85 Slicer2_Lfo2_SyncedRate</string>
		<string>86 Slicer2_Lfo2_Sync</string>
		<string>87 Slicer2_Lfo1ToScanWave</string>
		<string>88 Slicer2_Lfo2ToScanWave</string>
		<string>89 Slicer2_Lfo1ToScanRate</string>
		<string>90 Slicer2_Lfo2ToScanRate</string>
		<string>91 Slicer2_Lfo1ToRatioWave</string>
		<string>92 Slicer2_Lfo2ToRatioWave</string>
		<string>93 Slicer2_Lfo1ToRatioRate</string>
		<string>94 Slicer2_Lfo2ToRatioRate</string>
		<string>95 Slicer2_Delay_Time</string>
		<string>96 Slicer2_Delay_Sync</string>
		<string>97 Slicer2_Delay_Synced_Time</string>
		<string>98 Slicer2_Delay_Feed</string>
		<string>99 Slicer2_Delay_Mix</string>
		<string>100 Slicer2_Delay_Time_Gen</string>
		<string>101 Slicer2_Delay_Feed_Gen</string>
		<string>102 Slicer2_Delay_Mix_Gen</string>
		<string>103 Slicer2_Filter_Morph</string>
		<string>104 Slicer2_Filter_Cutoff</string>
		<string>105 Slicer2_Filter_Resonance</string>
		<string>106 Slicer2_Filter_Morph_Gen</string>
		<string>107 Slicer2_Filter_Cut_Gen</string>
		<string>108 Slicer2_Filter_Res_Gen</string>
		<string>109 Slicer2_Filter_Bypass</string>
		<string>110 Slicer2_Slot1_Amplitude</string>
		<string>111 Slicer2_Slot2_Amplitude</string>
		<string>112 Slicer2_Sound_Morph</string>
		<string>113 Slicer2_Sound_Morph_Gen</string>
		<string>114 Slicer2_Sound_Morph_Gen_Mode</string>
		<string>115 Slicer2_Low_Gain</string>
		<string>116 Slicer2_Mid_Gain</string>
		<string>117 Slicer2_High_Gain</string>
		<string>118 Slicer2_Slot1_Ratio</string>
		<string>119 Slicer2_Slot2_Ratio</string>
		<string>120 Morph</string>
		<string>121 Morph_Mod1_Depth</string>
		<string>122 Morph_Mod1_Wave</string>
		<string>123 Morph_Mod1_Rate</string>
		<string>124 Morph_Mod1_SyncedRate</string>
		<string>125 Morph_Mod1_Sync</string>
		<string>126 Morph_Mod2_Depth</string>
		<string>127 Morph_Mod2_Wave</string>
		<string>128 Morph_Mod2_Rate</string>
		<string>129 Morph_Mod2_SyncedRate</string>
		<string>130 Morph_Mod2_Sync</string>
		<string>131 Out_Level</string>
		<string>132 Global_Retrig</string>
	</array>
</dict>
</plist>
